/* Go back through the style sheet and look for any DRY content.  */

:root {
  --background-1: linear-gradient(#256fa1, #4b697d);
  --background-2: linear-gradient(#e8ebed, #cccdcf);
  --text-color1: white;
  --overlay-color: #4b697d;
  --image-position: relative;
  --image-orientation: absolute;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--background-2);
}

header {
  background: var(--background-1);
  color: var(--text-color1);
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

li {
  display: inline-block;
  padding-right: 90px;
  font-size: 1.5rem;
}

.li {
  text-decoration: none;
  color: var(--text-color1);
}

h1,
h2 {
  font-size: 3rem;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.5rem;
  line-height: 1.3;
}

img {
  border: 5px solid gray;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px #4b697d;
}

#img-0 {
  width: 20%;
  margin-left: 40%;
}

.img-1 {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
  position: var(--image-position);
}

/* I am sure this is not best practice for aligning a content overlay to an image, but this is what I could get to work for me.*/

#img-1 {
  position: var(--image-orientation);
  top: 91%;
  right: 63%;
  z-index: 1;
  background-color: var(--overlay-color);
  color: white;
  padding: 10px;
}

.img-2 {
  position: var(--image-position);
}

#img-2 {
  position: var(--image-orientation);
  top: 200%;
  right: 85%;
  z-index: 1;
  background-color: var(--overlay-color);
  color: white;
  padding: 10px;
}

.img-3 {
  position: var(--image-position);
}

#img-3 {
  position: var(--image-orientation);
  top: 200%;
  right: 49%;
  z-index: 1;
  background-color: var(--overlay-color);
  color: white;
  padding: 10px;
}

.img-4 {
  position: var(--image-position);
}

#img-4 {
  position: var(--image-orientation);
  top: 200%;
  right: 20%;
  z-index: 1;
  background-color: var(--overlay-color);
  color: white;
  padding: 10px;
}

.img-5 {
  position: var(--image-position);
  margin-top: 5%;
}

#img-5 {
  position: var(--image-orientation);
  top: 238%;
  right: 48%;
  z-index: 1;
  background-color: var(--overlay-color);
  color: white;
  padding: 10px;
}

.section-1 {
  /* border: 5px solid black; */
  margin: 20px;
}

.div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

img:hover {
  border: 5px solid #7decf0;
}

.container {
  position: relative;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  background: var(--background-1);
  padding: 40px;
  color: var(--text-color1);
}

h3 {
  padding-left: 15px;
  font-size: 1.5rem;
}
